<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2>AÑADIR JUGADOR</h2>
                    <form action="/partidas/{{id_partida}}/add_player" method="POST">
                        <select class="custom-select form-select form-select-sm" name="jugador"
                            id="jugador" aria-label=".form-select-sm example">
                            <option value=""> Selecciona</option>
                            {{#each usuarios}}
                            <option value="{{this.id}}" {{#when this.id 'eq' ../ticket.assigned_to_id }} selected
                                {{/when}}>
                                {{this.usuario}} </option>
                            {{/each}}
                        </select>
                        <button class="btn btn-primary btn-block">AÑADIR</button>
                    </form>
        <div class="text-center">
        <a class="btn btn-warning m-4" href="javascript:void(0)" onclick="history.back();">Volver</a>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>