{{>logo}}
<div class="container text-center my-4">
    <h2 class="my-4">NO SE HA LOGRADO RECIBIR EL PAGO EN LOS HeadQuarters DE LOS ASESINOS </h2>
    <h3 class="my-5">
        {{#if error}}
        {{error}}
        {{else}}
        <div class="my-4">
        <em>ESTAMOS MUY TRISTES PUES NO TENEMOS COMO ADQUIRIR NUEVAS ARMAS</em>
        
        </div>
        {{/if}}
    </h3>
</div>