<div class="container text-center">
    <h1 class="mb-1">ERROR en los HeadQuarters de los asesinos </h1>
    <h3 class="mb-5">
        {{#if error}}
        {{error}}
        {{else}}
        <em>El servidor mostró un ERROR!</em>
        {{/if}}
    </h3>
</div>