<div class="hazard-background">
</div>
<div class="container p-2 text-center">
    <div class="row ">
        <h1 class="mb-1">FOTO DEL ASESINO/VICTIMA</h1>
    </div>
    <div class="row ">
        <div>
            <p>Va la foto de {{jugador.full_name}} - {{jugador.usuario}} </p>
            <div class="card m-4" style="max-width: 18rem;">
                <img id="imagen" src="/img/profiles/{{jugador.pictureURL}}" alt="Una foto">
            </div>
        </div>
    </div>
</div>
<div class="hazard-background">
</div>