<!-- Modal JOIN - ======== modalObjetivo =====-->
{{!-- MODAL --}}
<div class="modal fade" id="instruccionesModalToggle" data-bs-backdrop="false" aria-hidden="true"
  aria-labelledby="instruccionesModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content cajita w-100">
      {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> --}}
      <ul>
        <li>El juego terminará cuando sólo quede una persona en pie. </li>
        <li>
          Queda terminantemente prohibido realizar un asesinato fuera de la fecha y del horario asignado.</li>
        <li>
          Cada asesino tendrá en todo momento un objetivo a quien matar y un arma con el que hacerlo.</li>
        <li>
          Para que el asesinato surja efecto el arma deberá ser entregada EN MANO, y con la presencia de UN TESTIGO
          (arma lanzada o dejada en cualquier superficie no mata).</li>
        <li>
          Un beso en la mejilla (sea a traición o no) SIN TESTIGOS, también en mortal.</li>
        <li>
          El listado de armas y de jugadores es público.</li>
        <li>
          En cada partida habrá un listado actualizado con el número total de bajas y asesinos en pie.</li>
        <li>
          Queda terminantemente prohibido enseñar el objetivo o arma a cualquier jugador.</li>
        <li>
          Es posible aliarse, pero tendrás que convencer del objetivo y arma que tienes. No te fies de nadie, podrian
          estar mintiendote.</li>
        <li>
          Se presume la buena fe de todos los jugadores</li>
        <li>
          No vale enfadarse. </li>
      </ul>
      <div class="d-flex justify-content-around ">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>

  </div>