<!-- Modal BORRAR PARTIDA - ======== modalObjetivo ===== -->
{{!-- MODAL --}}
<div class="modal fade" id="delModalToggle" data-bs-backdrop="false" aria-hidden="true"
    aria-labelledby="delModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-100 cajita">
            <div class="modal-header">
                <h1 class="modal-title fs-5 " id="delModalToggleLabel">ESTAS SEGURO?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="m-1 ">
                    <p>Esta seguro de que deseas borrar la partida?</p>
                    <hr>
                    <p>Esto borrara la partida y todos sus datos asociados sin marcha atras. </p>
                </div>
            </div>

            <div class="modal-footer d-flex flex-column align-content-center">
                <a class="btn btn-warning" href="/partidas/delete/{{datospartida.id_partida}}">SI, A TOMAR POR CULO TODO</a>
                <button class="btn btn-warning" data-bs-target="#delModalToggle" data-bs-toggle="modal">NO BORRAR
                    NADA</button>
            </div>
        </div>
    </div>
</div>