<div id="myModal1" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cierraModal();">&times;</span>
    <div class="centrado">
      <h4>Está a punto de asesinar a alguien</h4>
      <br/>
      <p>Esta Ud. seguro??? </p>
      <p>
        Esto conlleva su eliminación de la partida y ya no habrá marcha
        atras.</p>
      <div class="card-body">
        {{!-- <a href="/partidas/asesinar/" class="btn btn-danger">Borrar</a> --}}
        <a onclick="cierraModal();" class="btn btn-warning">Cancelar</a>
      </div>
    </div>
  </div>
</div>

<div id="myModal2" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cierraModal();">&times;</span>
    <div class="centrado">
     <h4>Está Ud. seguro de que ha sido asesinado??? </p>
      <p>
        Esto conlleva su eliminación de la partida y ya no habrá marcha
        atras.</p>
      <div class="card-body">
        {{!-- <a href="/partidas/asesinar/" class="btn btn-danger">Borrar</a> --}}
        <a onclick="cierraModal();" class="btn btn-warning">Cancelar</a>
      </div>
    </div>
  </div>
</div>