<a href="https://api.whatsapp.com/send/?phone=34651075732" src="/img/imagenes/whatsapp.png" target="_blank">
    <div id="floating-wa">
        <img src="http://primadonnasuites.com/wp-content/uploads/2024/05/whatsapp-logo.png">
    </div>
</a>