<!-- CUERPO -->
<div class="container-fluid">
  <div class="hazard-background">
  </div>
  <div class="row  justify-content-center">
    <h4>FOTO DEL OBJETO</h4>
  </div>
  <div class="row justify-content-center">
    <div class="card m-1" style="max-width: 40%;">
      <p> {{objeto.nombre}} - {{objeto.descripcion}} </p>
      <img id="imagenAlive" src="/img/imagenes/{{objeto.pictureURL}}" alt="Foto objeto">
    </div>

  </div>
<div class="row justify-content-center">
    <a class="btn btn-warning m-4" href="javascript:void(0)" onclick="history.back();">Volver</a>
  </div>
  <div class="hazard-background">
  </div>
</div>