<!-- CUERPO -->
<div class="container-fluid mb-4">
  <div class="hazard-background">
  </div>
  <div class="row  justify-content-center">
    <h2 class="text-center">FOTO {{#if eliminado}} DE LA VICTIMA {{else}} DEL KILLER</h2>
    {{/if}}
  </div>
  <p class="text-white"> {{jugador.full_name}} - {{jugador.usuario}} </p>

  <div class="row justify-content-center">
    <div class="card m-2 mb-5" style="max-width: 80%;">

      <img src="/img/profiles/{{jugador.pictureURL}}" {{#if eliminado}}
        style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" {{/if}} alt="Foto eliminado">

    </div>
  </div>
  <div class="row justify-content-center">
    <a class="btn btn-warning" href="javascript:void(0)" style="max-width: 80%;" onclick="history.back();">Volver</a>
  </div>

</div>