<!-- CUERPO -->
<div class="container-fluid">
  </div>
  <div class="row  justify-content-center">
    <h2 class="text-center my-4">FOTO DE {{jugador.full_name}}</h2>
  </div>
  <div class="row justify-content-center">
    <div class="card m-1" style="max-width: 80%;">
      <img src="/img/profiles/{{jugador.pictureURL}}" alt="Foto usuario">
    </div>

  </div>
  <div class="row justify-content-center">
    <a class="btn btn-warning m-4" style="max-width: 80%;" href="javascript:void(0)"
      onclick="history.back();">Volver</a>
  </div>
</div>
{{>logo}}
